---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

export const getStaticPaths = async () => {
  return [{ params: { lang: 'en' } }, { params: { lang: 'zh-tw' } }]
}

type Lang = 'en' | 'zh-tw'

const { lang } = Astro.params as { lang: Lang }
const h1 = { en: 'Product Explorer', 'zh-tw': '商品瀏覽器' }
const allProducts = await getCollection('products', ({ id }) =>
  id.startsWith(`${lang}/`),
)
---

<Layout>
  <div
    class="p-8 bg-dashboard-bg min-h-screen"
    data-pagefind-filter={`language:${lang}`}
  >
    <h1 class="text-3xl font-bold mb-6">{h1[lang]}</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {
        allProducts.map((product) => (
          // <div class="bg-white p-4 rounded-xl shadow-sm border border-gray-200">
          <div class="product-card" data-pagefind-index-attrs="title">
            <h2 class="text-xl font-semibold">{product.data.title}</h2>
            <p class="text-gray-500">{product.data.description}</p>
            <div class="mt-4 font-mono text-brand">${product.data.price}</div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
